

   <table>
	   <tr>
		   <th>Query</th><th>Mode</th><th>cw-minimal</th><th>sum-minimal</th><th>ind-minimal</th><th>all</th><th>Maximal impact</th>
	   </tr>
		   {% for result in results %}
	   <tr>
		   <td>({{result.query1}}|{{result.query2}})</td><td>{{result.mode}}</td><td>{{result.crep_cw}}</td><td>{{result.crep_sum}}</td><td>{{result.crep_ind}}</td><td>{{result.crep_all}}</td><td>{{result.mi}}</td> 
	   </tr>
		   {% endfor %}
   </table>EOD<div id=querysystems>System P: {{system.P}} &nbsp;&nbsp;&nbsp;&nbsp;System Z: {{system.Z}} &nbsp;&nbsp;&nbsp;&nbsp;System W: {{system.W}}</div>


